@model UserViewModel
@{
}
<style>

	}

	.main-body {
		padding: 15px;
	}

	.nav-link {
		color: #4a5568;
	}

	.card {
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
	}

	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 0 solid rgba(0,0,0,.125);
		border-radius: .25rem;
	}

	.card-body {
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1rem;
	}

	.gutters-sm {
		margin-right: -8px;
		margin-left: -8px;
	}

		.gutters-sm > .col, .gutters-sm > [class*=col-] {
			padding-right: 8px;
			padding-left: 8px;
		}

	.mb-3, .my-3 {
		margin-bottom: 1rem !important;
	}

	.bg-gray-300 {
		background-color: #e2e8f0;
	}

	.h-100 {
		height: 100% !important;
	}

	.shadow-none {
		box-shadow: none !important;
	}
</style>
<br />


<section id="blog" class="blog mt-3">
	<div class="container" data-aos="fade-up">

		<div class="row">

			<div class="col-lg-8 entries" style="margin-left: 16%;">
				<article class="entry entry-single">
					<div class="container">
						<div class="card-body">
							<div class="tab-pane active">
								<h3>Profil Ayarları </h3>
								<hr>
								<form>
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<div class="form-group" style="margin-top:3%">
										<label for="phone">Profil resmi</label>
									</div>
									<div class="justify-content-center">
										<div class="avatar-upload">
											<div class="avatar-edit">
												<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
												<label for="imageUpload"></label>
											</div>
											<div class="avatar-preview">
												<div id="imagePreview">
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label asp-for="Email">E-mail Adresin</label>
										<input asp-for="Email" class="form-control" id="email" placeholder="E-mail adresini değiştir">
										<small id="usernameHelp" class="form-text text-muted">E-mail adresinle birlikte giriş yapabilirsin.</small>
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label for="username">Kullanıcı Adın</label>
										<input type="text" class="form-control" id="username" aria-describedby="usernameHelp" readonly value="kennethvaldez">
										<small id="usernameHelp" class="form-text text-muted"> Kullanıcı adını değiştirdiğinde URL adresin de değişir.Yeni URL adresini aşağıda görebilirsin.</small>
									</div>
									<div class="form-group">
										<label for="url">URL</label>
										<input type="text" class="form-control" id="url" placeholder="Enter your website address" value="http://benije.ke/pozzivkij" readonly style="background-color:lightgrey">
									</div>

									<br />
									<div class="form-group">
										<label for="bio">Your Bio</label>
										<textarea class="form-control autosize" id="about" placeholder="Write something about you" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px;"> Kendini anlatan bir şeyler yaz. </textarea>
									</div>

									<div class="form-group small text-muted">
										Bu sayfadaki tüm alanlar isteğe bağlıdır ve herhangi bir zamanda silinebilir. Bu alanları doldurarak, bu verileri kullanıcı profilinizin göründüğü her yerde paylaşmamıza izin vermiş olursunuz.
									</div>
									<button type="button" class="btn rounded-5" style="background-color:#e96b56; color:white" onclick="EditProfile()">Bilgileri Güncelle</button>

								</form>
								<br />
								<br />
								<h3>Hesap Ayarları </h3>
								<hr>
								<form>
									<div class="form-group">
										<label class="d-block text-danger">Hesabını Sil</label>
										<p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>
									</div>
									<button class="btn rounded-5" type="button" style="background-color:#e96b56; color:white">Delete Account</button>
								</form>
							</div>
						</div>
					</div>
				</article><!-- End blog entry -->
			</div>
		</div>
	</div>
</section><!-- End Blog Single Section -->
@section Scripts{
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
					$('#imagePreview').hide();
					$('#imagePreview').fadeIn(650);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#imageUpload").change(function () {
			readURL(this);
		});
		function EditProfile(){

			var data = {
				Email: $('#Email').val(),
				UserName: $('#baslik').val(),
				Url: $('#url').val(),
				About: $('#about').val()
			}
			var formData = new FormData();

			formData.append("data", JSON.stringify(data));

			var totalFiles = document.getElementById('imageUpload').files.length;
			for (var i = 0; i < totalFiles; i++) {
				var file = document.getElementById('imageUpload').files[i];
				formData.append("file", file);
			}
			$.ajax({
				type: "POST",
				url: '/UserProfile/EditProfile',
				data: formData,
				dataType: 'json',
				contentType: false,
				processData: false,
				success: function (result) {
					ShowMessage(result.state, result.message);
				},
				error: function (error) {
					alert("HATA!!!");
				}
			});
		}

	</script>
}