@model IEnumerable<ArticleViewModel>
<style>
	.linkBlck{
		color: black;
	}
</style>
<section style="padding: 0 0 5px 0 !important" id="featured" class="featured">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-4">
					<div class="icon-box">
						<div class="row">
							<div class="col-2">
								<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="~/uploads/defaultuserpicture/user (2).png" width="24" height="24" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
							</div>
							<div class="col-10">
								<h6 style="margin-left: -13%; margin-top: 2%;" class="align-item-center">
									@item.AuthorName
								</h6>
							</div>
						</div>
						<h5>@Html.RouteLink(item.Title, routeName: "articledetail", routeValues: new { controller = "Article", action = "ArticleDetail", articleUrl = @item.ArticleUrl},new { @class = "linkBlck" })</h5>
						<p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						<span style="font-size:x-small;color:#909090" class="">@item.ReadTime min read</span>
					</div>
				</div>
			}
		</div>
	</div>
</section>