@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<section id="hero">
	<div class="hero-container">
		<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

			<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

			<div class="carousel-inner" role="listbox">

				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
					<div class="carousel-container">
						<div class="carousel-content">
							<h2 class="animate__animated animate__fadeInDown"><span>ForeSight</span></h2>
							<p class="animate__animated animate__fadeInUp">ForeSight'da herkes yazabilir. Düşünce liderleri, gazeteciler, uzmanlar ve benzersiz bakış açılarına sahip bireyler burada düşüncelerini paylaşıyor.</p>
							<a href="" class="btn-get-started animate__animated animate__fadeInUp">Daha Fazlası</a>
						</div>
					</div>
				</div>

				<!-- Slide 2 -->
				<div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
					<div class="carousel-container">
						<div class="carousel-content">
							<h2 class="animate__animated fanimate__adeInDown"><span>ForeSight</span></h2>
							<p class="animate__animated animate__fadeInUp">Dünyanın dört bir yanından bağımsız yazarların eserlerini, öne çıkardığımız hikayeleri ve önde gelen yazarları ve kendi blog ve yayın grubumuza ilişkin akıllı değerlendirmeleri bulacaksınız.</p>
							<a href="" class="btn-get-started animate__animated animate__fadeInUp">Daha Fazlası</a>
						</div>
					</div>
				</div>

				<!-- Slide 3 -->
				<div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
					<div class="carousel-container">
						<div class="carousel-content">
							<h2 class="animate__animated animate__fadeInDown"><span>ForeSight</span></h2>
							<p class="animate__animated animate__fadeInUp">Herhangi bir konudaki düşüncelerinizi paylaşmak, bir izleyici kitlesiyle bağlantı kurmak, çeşitli yayınlama araçlarıyla kendinizi ifade etmek ve hatta işiniz için para kazanmak kolay ve ücretsizdir.</p>
							<a href="" class="btn-get-started animate__animated animate__fadeInUp">Daha Fazlası</a>
						</div>
					</div>
				</div>

			</div>

			<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
			</a>

			<a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
			</a>
			<div class="blog-pagination">
				<ul class="justify-content-center">
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</div>
		</div>
	</div>
</section><!-- End Hero -->
<br />
<br />
<br />
<br />
<br />

<section style="padding: 0 0 40px 0 !important">
	<div class="container-lg mt-3" data-aos="fade-up">
		<div class="row">
			<div class="col-lg-12 entries">
				<article class="entry mt-lg-5">
					<h3 style="text-align:center">Trend Makaleler</h3>
					@await Component.InvokeAsync("TrendingArticles")
				</article><!-- End blog entry -->
			</div><!-- End blog entries list -->
		</div>
	</div>
</section>

<section id="blog" class="blog">
	<div class="container" data-aos="fade-up">
		<div class="row">
			<div class="col-lg-8">
				<div class="card" style="border:hidden">
					<div class="card-header" style="padding-bottom: initial; border:hidden">
						<div class="row">
							<div class="col-2">
								<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="36" height="36" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
							</div>
							<div class="col-10">
								<h6 style="margin-left: -16%; margin-top: 1%;" class="align-item-center">
									Ceren Tatoğlu
								</h6>
							</div>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-md-10">
							<div class="card-body">
								<h5 class="card-title fw-bold">
									Card title Card title Card title
								</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
						<div class="col-md-2" style="margin-top:4%">
							<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="112" height="112" loading="lazy">
							@*<img src="..." class="img-fluid rounded-start" alt="...">*@
						</div>
					</div>
					<div class="card-footer text-muted" style="border:hidden;background-color:white">
						<span style="cursor:pointer" class="badge rounded-pill bg-light text-dark">Sağlıklı Yaşam</span>
						<span class="badge rounded-pill bg-light text-dark">5 dk. Okuma Süresi</span>
					</div>
				</div>
				<hr />
				<br />
				<div class="card" style="border:hidden">
					<div class="card-header" style="padding-bottom: initial; border:hidden">
						<div class="row">
							<div class="col-2">
								<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="36" height="36" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
							</div>
							<div class="col-10">
								<h6 style="margin-left: -16%; margin-top: 1%;" class="align-item-center">
									Ceren Tatoğlu
								</h6>
							</div>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-md-10">
							<div class="card-body">
								<h5 class="card-title fw-bold">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
						<div class="col-md-2" style="margin-top:4%">
							<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="112" height="112" loading="lazy">
							@*<img src="..." class="img-fluid rounded-start" alt="...">*@
						</div>
					</div>
					<div class="card-footer text-muted" style="border:hidden;background-color:white">
						<span style="cursor:pointer" class="badge rounded-pill bg-light text-dark">Sağlıklı Yaşam</span>
						<span class="badge rounded-pill bg-light text-dark">5 dk. Okuma Süresi</span>
					</div>
				</div>
				<hr />
				<br />
				<div class="card" style="border:hidden">
					<div class="card-header" style="padding-bottom: initial; border:hidden">
						<div class="row">
							<div class="col-2">
								<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="rounded-circle" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="36" height="36" loading="lazy" style="margin-left: -10%;margin-top: -3%;">
							</div>
							<div class="col-10">
								<h6 style="margin-left: -16%; margin-top: 1%;" class="align-item-center">
									Ceren Tatoğlu
								</h6>
							</div>
						</div>
					</div>
					<div class="row g-0">
						<div class="col-md-10">
							<div class="card-body">
								<h5 class="card-title fw-bold">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
						<div class="col-md-2" style="margin-top:4%">
							<img alt="Interview With a Senior C# Developer: Creating a Better Code" class="" src="https://miro.medium.com/v2/resize:fill:123:123/1*1Vcf3mabHyL-nWbedRPokw.jpeg" width="112" height="112" loading="lazy">
							@*<img src="..." class="img-fluid rounded-start" alt="...">*@
						</div>
					</div>
					<div class="card-footer text-muted" style="border:hidden;background-color:white">
						<span style="cursor:pointer" class="badge rounded-pill bg-light text-dark">Sağlıklı Yaşam</span>
						<span class="badge rounded-pill bg-light text-dark">5 dk. Okuma Süresi</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4">

				<div class="sidebar">

					<h3 class="sidebar-title">Search</h3>
					<div class="sidebar-item search-form">
						<form action="">
							<input type="text">
							<button type="submit"><i class="bi bi-search"></i></button>
						</form>
					</div><!-- End sidebar search formn-->


					<h3 class="sidebar-title">Recent Posts</h3>
					<div class="sidebar-item recent-posts">
						<div class="post-item clearfix">
							<img src="assets/img/blog/blog-recent-1.jpg" alt="">
							<h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
							<time datetime="2020-01-01">Jan 1, 2020</time>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/blog/blog-recent-2.jpg" alt="">
							<h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
							<time datetime="2020-01-01">Jan 1, 2020</time>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/blog/blog-recent-3.jpg" alt="">
							<h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
							<time datetime="2020-01-01">Jan 1, 2020</time>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/blog/blog-recent-4.jpg" alt="">
							<h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
							<time datetime="2020-01-01">Jan 1, 2020</time>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/blog/blog-recent-5.jpg" alt="">
							<h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
							<time datetime="2020-01-01">Jan 1, 2020</time>
						</div>

					</div><!-- End sidebar recent posts-->

					<h3 class="sidebar-title">Tags</h3>
					<div class="sidebar-item tags">
						<ul>
							<li><a href="#">App</a></li>
							<li><a href="#">IT</a></li>
							<li><a href="#">Business</a></li>
							<li><a href="#">Mac</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Office</a></li>
							<li><a href="#">Creative</a></li>
							<li><a href="#">Studio</a></li>
							<li><a href="#">Smart</a></li>
							<li><a href="#">Tips</a></li>
							<li><a href="#">Marketing</a></li>
						</ul>
					</div><!-- End sidebar tags-->

				</div><!-- End sidebar -->

			</div><!-- End blog sidebar -->
		</div>
	</div>
</section><!-- End Blog Section -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


